body{
	margin: 0;
	padding: 0;
	background-color: black;
}
svg{
	position: absolute;
	stroke-width: 4px;
	top: 50%; 
	left: 50%;
}
.firstLetter{
	stroke: white;
	animation: animate1 0.5s forwards, animate_fill_1 1s forwards;
	width: 457px;
	height: 585px;
	stroke-dasharray: 2000;
	stroke-dashoffset: 2000;
	transform: translate(calc(-50% - 94px),-50%);
	animation-timing-function: cubic-bezier(0.07, 0.35, 1, -0.03);
}
.secondLetter{
	stroke: #f1617a;
	animation: animate1 0.5s forwards, animate_fill_2 1s forwards;
	animation-delay: 0.5s;
	width: 415px;
	height: 528px;
	transform: translate(calc(-50% + 21px),calc(-50% + -28px));
	stroke-dasharray: 1550;
	stroke-dashoffset: 1550;
	animation-timing-function: cubic-bezier(0.11, 0.24, 0.96, -0.03);
}
.thirdLetter{
	stroke: white;
	animation: animate1 0.5s forwards, animate_fill_1 1s forwards;
	animation-delay: 1s;
	height: 647px;
	transform: translate(calc(-50% + 280px),calc(-50% + 29px));
	stroke-dasharray: 1200;
	stroke-dashoffset: 1200;
	animation-timing-function: cubic-bezier(0.07, -0.02, 0.94, -0.26);
}   
 @keyframes animate1{
	to{
		stroke-dashoffset: 0;
	}
}
@keyframes animate_fill_1{
	to{
		fill: #ffffff;
	}
}
 @keyframes animate_fill_2{
	to{
		fill: #f1617a;
	}
}