body{
    margin:0
}
#d2, #d10, #d12 {
    background: rgb(186,31,51);
}
#d3, #d7, #d11 {
    background: rgb(245, 213, 71);
}
#d4, #d8, #d14 {
    background: rgb(22,25,37);
} 
#d5, #d13 {
    background: rgb(239, 246, 238);
}
#d6, #d9, #d1 {
    background: rgb(20,70,160);
}

#d1 {clip-path: polygon(21.21% 52.12%, 26.52% 0, 0% 0)}
#d2 {clip-path: polygon(26.52% 0, 48.037% 0, 25.39% 10.43%)}      
#d3 {clip-path: polygon(25.308% 10.43%, 48.037% 0, 91.46% 26.16%)}
#d4 {clip-path: polygon(48.307% 0, 91.46% 26.16%, 78.11% 7.8%)}
#d5 {clip-path: polygon(69.2% 20.83%, 91.46% 26.16%, 100% 52.06%)}
#d6 {clip-path: polygon(69.2% 20.83%, 81.64% 52.06%, 100% 52.06%)}
#d7 {clip-path: polygon(69.2% 79.17%, 81.64% 52.06%, 100% 52.06%)}
#d8 {clip-path: polygon(69.2% 79.17%, 91.46% 73.84%, 100% 52.06%)}

#d10 {clip-path: polygon(48.1% 100%, 91.46% 73.84%, 78.11% 92.2%)}
#d9 {clip-path: polygon(25.308% 89.57%, 48.037% 100%, 91.46% 73.84%);}

#d11 {clip-path: polygon(26.52% 100%, 48.037% 100%, 25.39% 89.57%);}
#d12 {clip-path: polygon(21.21% 52.12%, 26.52% 100%, 0% 100%)}
#d13 {clip-path: polygon(6.6% 52.12%, 21.21% 52.12%, 0 100%)}
#d14 {clip-path: polygon(6.6% 52.12%, 21.21% 52.12%, 0 0)}